@import "tailwindcss";

@theme {
    --color-app-200: #D5EFFA;
    --color-app-600: #2fafe6;
    --color-app-700: #2597c8;
    --color-app-800: #21779A;
    --color-app-green-200: #E2FFE6;
    --color-app-green-300: #D8ECDC;
}

@font-face {
  font-family: 'Avantt';
  src: url('/fonts/Avantt-Regular.woff2') format('woff2'),
       url('/fonts/Avantt-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avantt';
  src: url('/fonts/Avantt-RegularItalic.woff2') format('woff2'),
       url('/fonts/Avantt-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Avantt';
  src: url('/fonts/Avantt-Medium.woff2') format('woff2'),
       url('/fonts/Avantt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avantt';
  src: url('/fonts/Avantt-MediumItalic.woff2') format('woff2'),
       url('/fonts/Avantt-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avantt';
  src: url('/fonts/Avantt-SemiBold.woff2') format('woff2'),
       url('/fonts/Avantt-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avantt';
  src: url('/fonts/Avantt-SemiBoldItalic.woff2') format('woff2'),
       url('/fonts/Avantt-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

/* Scale up hit targets on high resolution mobile devices. */
@media (min-resolution: 200dpi) {
  html {
    font-size: 18px;
  }

  .text-sm {
    /* ensure minimum font size of 16px */
    font-size: 0.9rem;
  }
}

body {
  font-family: 'Avantt', sans-serif;
}
